/* You can add global styles to this file, and also import other style files */

:root {
  --red: red;
  --pink: pink;
  --green: #20b1a3;
}

.cursor-pointer {
  cursor: pointer;
}
.bg-main-hover {
  transition: 0.5s all;
}
.bg-main-hover:hover {
  filter: drop-shadow(15px 15px 15px black);
  animation: shake 0.5s ease-in-out infinite alternate;
}

@keyframes shake {
  0% {
    transform: translateX(1px);
  }
  25% {
    transform: translateX(-1px);
  }
  50% {
    transform: translateX(1px);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(1px);
  }
}
